[Unit]
Description=StaticWaves POD API
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/staticwaves_pod/api/app.py
Restart=always
User=static

[Install]
WantedBy=multi-user.target
